/*
!/.gitignore
!/mu-plugins/
!/plugins/
!/themes/

/mu-plugins/*
!/mu-plugins/.gitkeep

/plugins/*
!/plugins/cf7-sync/
!/plugins/simple-cookie-consent/
!/plugins/site-maintenance/

/themes/*
!/themes/d11/
